.load--fallback{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background:#eee;
    
    
}
.svg-loader {
    overflow:visible;
    & circle {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation: animlogo .5s linear forwards;
      }
      & path {
        stroke-dasharray: 0;
        animation: animlogo .5s linear forwards;
      }
}

@keyframes animlogo {
    0% {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
    }
    80% {
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
    }
    99% {
      stroke-dasharray: 10;
      stroke-dashoffset: 10;
    }
    100% {
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
    }
  }