@import url("https://fonts.googleapis.com/css?family=Oswald|Raleway|Muli&display=swap");
@import url("https://use.typekit.net/qtd0gsd.css");
/////////////components///////////
@import "./base/mixins";
@import "./base/variables";
//////////////utils/////////////////
@import "./utilities/text";
@import "./utilities/animations";
@import "./loader";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 80%;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  background-color: #e6e6e6;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.28'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}
h1,
h2,
h3 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 3rem;
    letter-spacing: 1px;
  }

  p {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #222;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 1px;
  }
}
