@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway|Muli&display=swap');
@import url('https://use.typekit.net/qtd0gsd.css');
/////////////components///////////
@import './base/mixins';
@import './base/variables';
//////////////utils/////////////////
@import './utilities/text';
@import './utilities/animations';
@import './loader';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,
body {
	padding: 0;
	margin: 0;
	font-size: 80%;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-style: normal;
	overflow-x: hidden;
	background-color: $brand-background;
}
body::before {
	content: ' ';
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url('https://res.cloudinary.com/snackmanproductions/image/upload/c_scale,q_56,w_2518/v1612016455/portfolio/grunge-overlay-2_elouzo.png');
	display: block;
	z-index: 0;
	background-size: cover;
	background-position: center;
}
h1,
h2,
h3 {
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	font-style: normal;
}
@media screen and (max-width: 600px) {
	h2 {
		font-size: 3rem;
		letter-spacing: 1px;
	}

	p {
		font-family: proxima-nova, sans-serif;
		font-weight: 400;
		font-style: normal;
		color: #222;
		font-size: 16px;
		font-weight: 300;
		line-height: 2;
		letter-spacing: 1px;
	}
}
