@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
/////////////components///////////
@import './base/mixins';
@import './base/variables';
/////////////layout////////////////
@import './layout/headerMobile';
@import './layout/projectsMobile';
@import './layout/skillsMobile';
@import './layout/ContactMobile';
@import './layout/aboutMobile';
//////////////utils/////////////////
@import './utilities/text';
@import './utilities/animations';
@import './loader';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,
body {
	padding: 0;
	margin: 0;
	font-size: 80%;
	font-family: 'Raleway';
	overflow-x: hidden;
	background-color: #f3f3f3;
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23000b76' fill-opacity='0.01' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-attachment: fixed;
}
h1,
h2,
h3 {
	font-family: 'Oswald';
	font-weight: 500;
}
@media screen and (max-width: 600px) {
	h2 {
		font-size: 3rem;
		letter-spacing: 1px;
	}

	p {
		font-family: 'Raleway';
		color: #222;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 2;
		letter-spacing: 1px;
	}
}
