@media screen and (min-width: 601px) {
  .section__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $dark-orange;
    min-height: 100vh;
    &--container {
      height: 100%;
      width: 100%;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      & hr {
        background: $orange-color;
        border: 0;
        height: 2.5px;
        width: 15vw;
      }
      & h2 {
        color: #fff;
        font-family: "Raleway";
        margin: 1rem 0;
        font-size: 4rem;
      }
      &--form {
        margin: 2rem 0;
        background: #fff;
        box-shadow: 0 2px 2px darken(#666, 10%);
        min-height: 20rem;
        min-width: 70vw;
        max-width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        &--column {
          display: flex;
          flex-direction: column;
          width: 100%;
          & label {
            font-size: 2vw;
            color: $dark-blue;
          }
          &--input-row {
            margin: 1rem 2rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            &--icon-box {
              background: $dark-blue;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              min-height: 2.5rem;
              min-width: 2.5rem;
              & i {
                color: #fff;
                font-size: 1.5rem;
                padding: 1rem;
              }
            }
            & input {
              border: 1px solid darken(#eee, 5%);
              transition: all 0.2s ease;
              min-height: 2.5rem;
              background: #eee;
              width: 100%;
              padding: 1.6rem;
              font-size: 16px;
              &:focus {
                outline: none;
                border: 1px solid $orange-color;
              }
              &:hover {
                border: 1px solid $orange-color;
              }
            }
            & textarea {
              border: 1px solid #eee;
              background: #eee;
              transition: all 0.2s ease;
              padding: 1rem;
              width: 100%;
              font-size: 16px;
              &:focus {
                outline: none;
                border: 1px solid $orange-color;
              }
              &:hover {
                border: 1px solid $orange-color;
              }
            }
            & button {
              padding: 1rem 2rem;
              color: #fff;
              background: transparent;
              border: 3px solid $dark-blue;
              transition: all 0.2s ease;
              width: 100%;
              text-transform: uppercase;
              color: $dark-blue;
              font-weight: 700;
              letter-spacing: 2px;
              transition: all 0.3s ease-in-out;
              &:hover {
                background: lighten($dark-blue, 5%);
                border: 3px solid lighten($dark-blue, 5%);
                cursor: pointer;
                color: #fff;
                font-weight: 500;
              }
              &:active {
                background: lighten($dark-blue, 20%);
                border: 3px solid lighten($dark-blue, 20%);
                color: #fff;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .section__contact {
    &--container {
      & h2 {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .section__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $dark-orange;
    margin: 2rem 0 0 0;
    &--container {
      height: 100%;
      width: 100%;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      & hr {
        background: $orange-color;
        border: 0;
        height: 2.5px;
        width: 15vw;
      }
      & h2 {
        color: #fff;
        margin: 1rem 0;
        font-size: 2rem;
        font-family: "Raleway";
      }
      &--form {
        margin: 2rem 0;
        background: #fff;
        box-shadow: 0 2px 2px darken(#666, 10%);
        min-height: 20rem;
        min-width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem;
        &--column {
			& label{
				font-size: 5vw;
			}
          &--input-row {
            margin: 1rem 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            &--icon-box {
              background: $dark-blue;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              min-height: 2.5rem;
              min-width: 2.5rem;
              & i {
                color: #fff;
                font-size: 1.1rem;
                padding: 1rem;
              }
            }
            & input {
              border: 1px solid darken(#eee, 5%);
              transition: all 0.2s ease;
              min-height: 2.5rem;
              background: #eee;
              width: 100%;
              padding: 1rem;
              font-size: 16px;
              &:focus {
                outline: none;
                border: 1px solid $orange-color;
              }
              &:hover {
                border: 1px solid $orange-color;
              }
            }
            & textarea {
              border: 1px solid #eee;
              background: #eee;
              transition: all 0.2s ease;
              padding: 0.5rem;
              width: 100%;
              font-size: 16px;
              &:focus {
                outline: none;
                border: 1px solid $orange-color;
              }
              &:hover {
                border: 1px solid $orange-color;
              }
            }
            & button {
              padding: 1rem 2rem;
              color: #fff;
              background: transparent;
              border: 3px solid $dark-blue;
              transition: all 0.2s ease;
              width: 100%;
              text-transform: uppercase;
              color: $dark-blue;
              font-weight: 700;
              letter-spacing: 2px;
              transition: all 0.3s ease-in-out;
              &:hover {
                background: lighten($dark-blue, 5%);
                border: 3px solid lighten($dark-blue, 5%);
                cursor: pointer;
                color: #fff;
                font-weight: 500;
              }
              &:active {
                background: lighten($dark-blue, 20%);
                border: 3px solid lighten($dark-blue, 20%);
                color: #fff;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}
