.nav__components {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  min-height: 5rem;
  max-height: 5rem;
  padding: 1rem;
  width: 100vw;
  position: absolute;
  box-shadow: 0 5px 5px darken(#eee, 5%);
  z-index: 99999;
  & .nav__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    flex:2;
    & p {
      color: $brand-secondary;
      font-size: 1.4rem;
    }
    svg {
      margin-right: 1rem;
      width: 3rem;
      max-width: 3rem;
      overflow: visible;
      & circle {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation: animlogo 2s linear forwards;
      }
      & path {
        stroke-dasharray: 0;
        animation: animlogo 2s linear forwards;
      }
    }
  }
  &--links{
      flex:1;
      display:flex;
      flex-direction:row;
      justify-content: space-around;
      align-items: center;

      & a {
          color:$brand-secondary;
          font-size:1.2rem;
      }
  }
}


@keyframes animlogo {
  0% {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
  }
  80% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
  99% {
    stroke-dasharray: 10;
    stroke-dashoffset: 10;
  }
  100% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
}
