@mixin orange-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    $orange-color,
    $dark-orange
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $orange-color,
    $dark-orange
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin dark-orange-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    darken(#f5af19, 10%),
    darken(#f12711, 10%)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    darken(#f5af19, 10%),
    darken(#f12711, 10%)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
