$orange-color: #000b76;
$dark-orange: darken(#000b76, 20%);
$brand-secondary: #5000ca;
$dark-blue: darken(dodgerblue, 45%);
$light-blue: darken(dodgerblue, 15%);
$brand-background: #f7ece1;
$brand-background-faded: #f7ece1c7;
$brand-accent: #506c64;
$brand-main: #5000ca;
$brand-main-faded: #5100cab4;
$brand-contrast: #ac7b84;
$brand-text: #ac7b848e;
