@import "../../sass/base/variables";

.section__contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #fff;
  min-height: 100vh;
  position: relative;
  & .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    & .response {
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 40vw;
      min-height: 20rem;
      & p {
        text-align: center;
        margin: 2rem;
        font-size: 2rem;
        font-weight: 900;
      }
      & button {
        height: 3rem;
        width: 12rem;
        color: #fff;
        background: $brand-secondary;
        border: 1px solid $brand-secondary;
		box-shadow: 0 1px 5px darken($brand-secondary, 2%);
		transition: all .3s ease;
        &:hover {
          cursor: pointer;
          box-shadow: 0 1px 10px darken($brand-secondary, 5%);
          background: darken($brand-secondary,5%);
          border: 1px solid darken($brand-secondary,5%);
        }
      }
    }
  }
  & .container {
    height: 100%;
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    & h2 {
      color: $dark-blue;
      font-family: "Raleway";
      margin: 1rem 0;
      font-size: 4rem;
      display: flex;
      flex-direction: column;
    }
    & .form {
      margin: 2rem 0;
      background: #fff;
      min-height: 20rem;
      min-width: 40vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
      & .column {
        display: flex;
        flex-direction: column;
        width: 100%;
        & label {
          font-size: 2rem;
          font-weight: 900;
          color: $dark-blue;
          &::after {
            content: "*";
            color: $brand-secondary;
          }
        }
        & .input__row {
          margin: 2rem 0rem;
          display: flex;
          flex-direction: row;
          justify-content: center;
          & .icon__box {
            background: transparent;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            min-height: 2.5rem;
            min-width: 2.5rem;
            border-bottom: 2px solid $brand-secondary;
            & i {
              color: $dark-blue;
              font-size: 2rem;
              padding: 1rem;
            }
          }
          & input {
            border: 0;
            border-bottom: 2px solid $brand-secondary;
            transition: all 0.2s ease;
            min-height: 2.5rem;
            background: transparent;
            width: 100%;
            padding: 1.6rem;
            font-size: 16px;
            &:focus {
              outline: 0;
            }
          }
          & textarea {
            border: 0;
            border-bottom: 2px solid $brand-secondary;
            background: transparent;
            transition: all 0.2s ease;
            padding: 1rem;
            width: 100%;
            font-size: 16px;
            resize: none;
            &:focus {
              outline: 0;
              border: 2px solid $orange-color;
            }
          }
          & button {
            padding: 1rem 2rem;
            color: #fff;
            background: $brand-secondary;
            border: 3px solid $brand-secondary;
            transition: all 0.2s ease;
            width: 100%;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 2rem;
            letter-spacing: 2px;
            transition: all 0.3s ease-in-out;
            &:hover {
              cursor: pointer;
              color: #fff;
              font-weight: 500;
              box-shadow: 0 1px 10px $brand-secondary;
              background: $brand-secondary;
            }
            &:active {
              background: lighten($brand-secondary, 20%);
              border: 3px solid lighten($brand-secondary, 20%);
              color: #fff;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .section__contact {
    & .container {
      flex-direction: column;
      & .form {
        min-width: 50vw;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .section__contact {
    & .container {
      & h2 {
        font-size: 4rem;
      }
      & .form {
        min-width: 70vw;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .section__contact {
    & .container {
      & h2 {
        font-size: 2rem;
        text-align: center;
      }
      & .form {
        & .column {
          & .input__row {
            & button {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
