@import '../../sass/base/variables';

.section__header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: relative;
	z-index: 0;
	padding: 2rem;
	& .border_bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		display: block;
		background: url('https://res.cloudinary.com/snackmanproductions/image/upload/v1611968755/portfolio/border_zeb4n8.png');
		background-size: cover;
		background-position: center;
		min-height: 140px;
		animation: stretchout 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	}
	& .title_and_desc {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 2rem;
		justify-items: start;
		align-content: flex-start;
		padding: 3rem;
		height: 100%;
		margin: 10rem 0;
		opacity: 0;

		& button {
			height: 3.5rem;
			width: 14rem;
			color: $brand-accent;
			background: transparent;
			border: 4px solid $brand-accent;
			border-top-right-radius: 10px;
			border-bottom-left-radius: 10px;
			font-size: 1.2rem;
			font-family: proxima-nova, sans-serif;
			font-weight: 700;
			font-style: normal;
			transition: all 0.3s ease-in-out;
			& i {
				font-size: 1.5rem;
				margin-left: 0.5rem;
			}
			&:hover {
				cursor: pointer;
				background: $brand-accent;
				color: $brand-background;
				border-top-right-radius: 0px;
				border-bottom-left-radius: 0px;
				border-radius: 5px;
			}
			&:focus,
			&:active {
				outline: 0;
			}
		}
		& .separator {
			height: 2px;
			width: 15rem;
			background: $brand-contrast;
			opacity: 0.3;
			display: block;
		}
		& .text_container {
			z-index: 2;
			& h1 {
				font-size: 4rem;
				color: $brand-accent;
				font-weight: 700;
				margin: 1rem 0;
			}
			& .about {
				& p {
					transform: rotate(0);
					width: 100%;
					font-size: 2rem;
					font-weight: 700;
					z-index: 2;
					line-height: 2;
					color: $brand-contrast;
				}
				& span {
					z-index: 2;
					color: $brand-secondary;
					font-weight: 700;
				}
			}
		}
		& .icons {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr;
			gap: 1rem;
			& a {
				text-decoration: none;
				margin: 0 0.2rem;
				transition: all 0.2s ease;
				perspective: 1000px;
				& i {
					font-size: 2rem;
					color: $brand-accent;
					transition: all 0.3s ease;

					&:hover {
						cursor: pointer;
						color: $brand-main;
						transform: rotate3d(1, 1, 1, 35deg);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.section__header {
		min-height: 100vh;
		& h1 {
			font-size: 4.5rem;
		}
		& svg {
			top: 98%;
			position: absolute;
			width: 100vw;
		}
		& .icons {
			& a {
				& i {
					font-size: 2rem;
				}
			}
		}
		& .logo {
			max-width: 11rem;
		}
	}
}

@media screen and (max-width: 750px) {
	.section__header {
		min-height: 70vh;
		& .title_and_desc {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			gap: 2rem;
			justify-items: start;
			align-content: center;
			padding: 2rem 1rem;
			margin: 6rem 0 6rem 0;
			opacity: 1;
			position: relative;
			& button {
				& i {
					font-size: 1.5rem;
					margin-left: 0.5rem;
				}
				&:hover {
					cursor: pointer;
					box-shadow: 0 1px 15px darken($brand-secondary, 5%);
					border-top-right-radius: 0px;
					border-bottom-left-radius: 0px;
					border-radius: 5px;
				}
				&:focus,
				&:active {
					outline: 0;
				}
			}

			& .text_container {
				z-index: 2;
				& h1 {
					font-size: 3rem;
					font-weight: 700;
					margin: 1rem 0;
				}
				& .about {
					& h2 {
						font-size: 1.5rem;
					}
					& p {
						font-size: 2rem;
						font-weight: 700;
						z-index: 2;
						line-height: 2;
					}
					& span {
						z-index: 2;
						color: $brand-secondary;
						font-weight: 700;
					}
				}
			}
			& .icons {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: 1fr;
				gap: 1rem;
				& a {
					text-decoration: none;
					margin: 0 0.2rem;
					transition: all 0.2s ease;
					&:hover {
						box-shadow: 0px 5px 30% $dark-orange;
					}
					& i {
						font-size: 2rem;
						transition: all 0.3s ease;

						&:hover {
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}

@keyframes stretchout {
	0% {
		max-width: 0%;
	}
	100% {
		max-width: 100%;
	}
}
