@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
nav {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background: rgba(243, 243, 243, 0.9);
  min-height: 5rem;
  max-height: 5rem;
  padding: 1rem;
  width: 100vw;
  position: absolute;
  z-index: 99999; }
  nav .nav__logo {
    width: 5rem;
    max-width: 5rem; }
    nav .nav__logo svg {
      overflow: visible; }
      nav .nav__logo svg circle {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation: animlogo 2s linear forwards; }
      nav .nav__logo svg path {
        stroke-dasharray: 0;
        animation: animlogo 2s linear forwards; }

@keyframes animlogo {
  0% {
    stroke-dasharray: 100;
    stroke-dashoffset: 100; }
  80% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0; }
  99% {
    stroke-dasharray: 10;
    stroke-dashoffset: 10; }
  100% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0; } }

@media screen and (min-width: 751px) {
  .section__header {
<<<<<<< HEAD
    min-height: 95vh;
    background-color: #5000ca;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.67'%3E%3Cpath fill='%233700b9' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%232200a8' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23100098' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23010087' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23000b76' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23000b76' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23000b76' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23000b76' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23000b76' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23000b76' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
=======
    min-height: 55vh;
    background: #00095d;
    background-image: linear-gradient(to top, #00095d 50%, #000b7b);
>>>>>>> b406fbeac9565771399bcee368e486aae6f84d7f
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-justify-content: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    z-index: 0;
    box-shadow: 0 5px 5px #00095d; }
    .section__header--logo {
      z-index: 1;
      margin: 2rem;
      max-width: 13rem;
      max-height: 15rem; }
      .section__header--logo img {
        height: 100%;
        width: 100%; }
    .section__header--title-and-desc {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 2rem;
      justify-items: center;
      align-content: center;
      color: #fff;
      padding: 0rem;
      height: 100%;
      width: 100%;
      opacity: 0;
      animation: fadeIn 0.5s linear 0s 1 forwards; }
      .section__header--title-and-desc--h1-container {
        position: relative;
        background: #3c0097;
        transform: rotate(0deg);
        box-shadow: 0 5px 5px #280064;
        opacity: 0;
        animation: fadeInAndRotate 0.5s linear 0.5s 1 forwards; }
        .section__header--title-and-desc--h1-container h1 {
          font-size: 6rem;
          margin: 0.5rem 0;
          text-transform: uppercase;
          color: #fff;
          letter-spacing: 1.4px;
          padding: 1.5rem;
          background: #5000ca;
          transform: rotate(0deg);
          box-shadow: 0 2px 2px #32007e;
          opacity: 0;
          animation: fadeInAndRotateReverse 0.5s linear 1s 1 forwards; }
      .section__header--title-and-desc p {
        color: #fff;
        font-size: 2rem;
        letter-spacing: 1px;
        margin: 1rem 0;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center; }
      .section__header--title-and-desc--icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 1rem;
        margin: 1rem 0; }
        .section__header--title-and-desc--icons a {
          text-decoration: none;
          margin: 0 0.2rem;
          transition: all 0.2s ease; }
          .section__header--title-and-desc--icons a:hover {
            box-shadow: 0px 5px 30% #000110; }
          .section__header--title-and-desc--icons a i {
            font-size: 4rem;
            color: #5000ca;
            transition: all 0.3s ease; }
            .section__header--title-and-desc--icons a i:hover {
              cursor: pointer;
              color: #4600b1; } }

@media screen and (max-width: 1000px) {
  .section__header {
    min-height: 60vh;
    background: #00095d;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: flex-start; }
    .section__header h1 {
      font-size: 4.5rem; }
    .section__header svg {
      top: 98%;
      position: absolute;
      width: 100vw; }
    .section__header--icons a i {
      font-size: 2rem; }
    .section__header--logo {
      max-width: 11rem; } }

@media screen and (max-width: 750px) {
  .section__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 55vh;
    background: #00095d;
    background-image: linear-gradient(to top, #00095d 50%, #000b7b);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    filter: grayscale(6%);
    z-index: 0; }
    .section__header svg {
      top: 98%;
      position: absolute; }
    .section__header--logo {
      z-index: 1;
      margin: 2rem;
      max-width: 10rem;
      max-height: 10rem;
      animation: fadeIn 1.5s linear 0s 1 forwards; }
      .section__header--logo img {
        height: 100%;
        width: 100%; }
    .section__header--title-and-desc {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 2rem;
      justify-items: center;
      align-content: center;
      color: #fff;
      padding: 0rem;
      height: 100%;
      width: 100%;
      opacity: 0;
      animation: fadeIn 0.5s linear 0s 1 forwards; }
      .section__header--title-and-desc--h1-container {
        position: relative;
        background: #3c0097;
        transform: rotate(0deg);
        box-shadow: 0 5px 5px #280064;
        opacity: 0;
        animation: fadeInAndRotate 0.5s linear 0.5s 1 forwards; }
        .section__header--title-and-desc--h1-container h1 {
          font-size: 2.6rem;
          margin: 0.5rem 0;
          text-transform: uppercase;
          font-weight: 300;
          color: #fff;
          letter-spacing: 1.4px;
          padding: 1.5rem;
          background: #5000ca;
          transform: rotate(0deg);
          box-shadow: 0 2px 2px #32007e;
          opacity: 0;
          animation: fadeInAndRotateReverse 0.5s linear 1s 1 forwards; }
      .section__header--title-and-desc hr {
        width: 4rem;
        height: 2px;
        background: #ff4500;
        border: 0; }
      .section__header--title-and-desc p {
        color: #fff;
        font-size: 1.5rem;
        letter-spacing: 1px;
        margin: 1rem 0;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center; }
      .section__header--title-and-desc--icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 1rem 0; }
        .section__header--title-and-desc--icons a {
          text-decoration: none;
          margin: 0 0.2rem;
          transition: all 0.2s ease; }
          .section__header--title-and-desc--icons a:hover {
            box-shadow: 0px 5px 30% #000110; }
          .section__header--title-and-desc--icons a i {
            font-size: 2.4rem;
            color: #5000ca;
            transition: all 0.3s ease; }
            .section__header--title-and-desc--icons a i:hover {
              cursor: pointer;
              color: #4600b1; } }

@media screen and (min-width: 601px) {
  .section__projects {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
    box-shadow: 0 5px 5px #e9e9e9; }
    .section__projects--buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 2rem 1rem;
      width: 100%; }
      .section__projects--buttons h2 {
        color: #000b76;
        font-size: 5rem; }
    .section__projects--container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      gap: 2rem;
      justify-items: center;
      max-width: 80vw; }
      .section__projects--container--item {
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: space-around; }
        .section__projects--container--item--image-container {
          width: 100%;
          margin: 0rem 0;
          box-shadow: 0 5px 10px #b3b3b3;
          position: relative;
          display: grid;
          min-height: 40vh; }
          .section__projects--container--item--image-container--image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 0.5s ease-in-out;
            filter: brightness(0.6); }
            .section__projects--container--item--image-container--image:hover {
              filter: brightness(1); }
            .section__projects--container--item--image-container--image img {
              height: 100%;
              width: 100%;
              object-fit: cover; }
        .section__projects--container--item--info {
          margin: 0rem;
          position: absolute;
          display: grid;
          align-self: end;
          width: 100%; }
          .section__projects--container--item--info--description {
            padding: 1rem;
            width: 100%;
            background: rgba(0, 0, 0, 0.92);
            max-height: 15rem;
            align-self: end; }
            .section__projects--container--item--info--description--title {
              display: flex;
              flex-direction: column;
              justify-content: flex-start; }
              .section__projects--container--item--info--description--title--separator {
                display: block;
                height: 2px;
                width: 5rem;
                background: #5000ca;
                margin: 0.5rem 0; }
              .section__projects--container--item--info--description--title h2 {
                text-transform: uppercase;
                color: #f3f3f3;
                font-weight: 300;
                font-size: 1.8rem; }
            .section__projects--container--item--info--description p {
              color: #f3f3f3;
              font-size: 1.1rem; }
            .section__projects--container--item--info--description--links {
              display: flex;
              flex-direction: row;
              justify-content: flex-start; }
              .section__projects--container--item--info--description--links a {
                font-size: 1.5rem;
                color: #5000ca;
                margin: 0.5rem 0 0.5rem 0.5rem; }
                .section__projects--container--item--info--description--links a:hover {
                  color: #6400fd;
                  cursor: pointer; } }

@media screen and (max-width: 850px) {
  .section__projects {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .section__projects--buttons h2 {
      color: #000b76;
      font-size: 3rem; }
    .section__projects--container {
      max-width: 90vw; }
      .section__projects--container--item--image-container {
        width: 100%;
        height: 100%; }
        .section__projects--container--item--image-container--image {
          filter: brightness(0.6); }
          .section__projects--container--item--image-container--image:hover {
            filter: brightness(1); }
      .section__projects--container--item--info--description--title h2 {
        font-size: 1.6rem; }
      .section__projects--container--item--info--description--links a {
        margin: 0.2rem; } }

@media screen and (max-width: 900px) {
  .section__projects {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .section__projects--buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 2rem 1rem; }
    .section__projects--container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
      max-width: 100vw; }
      .section__projects--container--item {
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: space-around; }
        .section__projects--container--item--image-container {
          width: 100%;
          min-height: 30vh;
          margin: 0rem 0;
          box-shadow: 0 5px 10px #b3b3b3;
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: center; }
          .section__projects--container--item--image-container--image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 0.3s ease;
            filter: brightness(0.6); }
            .section__projects--container--item--image-container--image:hover {
              filter: brightness(1); }
            .section__projects--container--item--image-container--image img {
              height: 100%;
              width: 100%;
              object-fit: cover; }
        .section__projects--container--item--info {
          margin: 0rem;
          position: absolute;
          display: grid;
          grid-template-rows: 1fr;
          justify-items: end;
          align-content: end;
          height: 100%;
          width: 100%; }
          .section__projects--container--item--info--description {
            padding: 0.5rem;
            width: 100%;
            background: rgba(0, 0, 0, 0.92);
            max-height: 12rem;
            align-self: end; }
            .section__projects--container--item--info--description--title {
              display: flex;
              flex-direction: column;
              justify-content: flex-start; }
              .section__projects--container--item--info--description--title--separator {
                display: block;
                height: 2px;
                width: 5rem;
                background: #5000ca;
                margin: 0.5rem 0; }
              .section__projects--container--item--info--description--title h2 {
                text-transform: uppercase;
                color: #f3f3f3;
                font-weight: 300;
                font-size: 1.5rem; }
            .section__projects--container--item--info--description p {
              color: #f3f3f3;
              font-size: 0.9rem; }
            .section__projects--container--item--info--description--links {
              display: flex;
              flex-direction: row;
              justify-content: flex-start; }
              .section__projects--container--item--info--description--links a {
                font-size: 1.3rem;
                color: #5000ca;
                margin: 0.5rem; }
                .section__projects--container--item--info--description--links a:hover {
                  color: #6400fd;
                  cursor: pointer; } }

@media screen and (min-width: 601px) {
  .section__skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem 0; }
    .section__skills--heading {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 2rem; }
      .section__skills--heading h2 {
        color: #000b76;
        font-size: 5rem; }
    .section__skills--container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
      min-height: 30rem;
      width: 70vw;
      background: #f3f3f3;
      box-shadow: 0 5px 5px #e9e9e9;
      border-radius: 5px;
      padding: 1rem; }
      .section__skills--container--skill-row--icon-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 3px #e9e9e9;
        padding: 0.5rem;
        margin: 0 0.5rem;
        border-radius: 5px; }
        .section__skills--container--skill-row--icon-block svg {
          font-size: 6rem;
          color: #00095d; }
        .section__skills--container--skill-row--icon-block h3 {
          color: #000b76;
          font-size: 2.5rem; } }

@media screen and (max-width: 750px) {
  .section__skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 20vh; }
    .section__skills--heading {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .section__skills--heading h2 {
        color: #000b76;
        font-size: 3rem; }
    .section__skills--container {
      padding: 2rem 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background: #f3f3f3;
      box-shadow: 0 5px 5px #e9e9e9;
      border-radius: 5px;
      gap: 1rem;
      min-height: 30rem;
      width: 90vw; }
      .section__skills--container--skill-row--icon-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 3px #e9e9e9;
        border-radius: 5px;
        margin: 0 0.5rem; }
        .section__skills--container--skill-row--icon-block svg {
          font-size: 3.5rem;
          color: #00095d; }
        .section__skills--container--skill-row--icon-block h3 {
          color: #000b76;
          font-size: 1.5rem; } }

@media screen and (min-width: 601px) {
  .section__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000110;
    background-color: #000110;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23000b76' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E"); }
    .section__contact--container {
      height: 100%;
      width: 100%;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section__contact--container hr {
        background: #000b76;
        border: 0;
        height: 2.5px;
        width: 15vw; }
      .section__contact--container h2 {
        color: #fff;
        font-family: 'Raleway';
        margin: 1rem 0;
        font-size: 4rem; }
      .section__contact--container--form {
        margin: 2rem 0;
        background: #fff;
        box-shadow: 0 2px 2px #4d4d4d;
        min-height: 20rem;
        min-width: 50vw;
        max-width: 80vw;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem; }
        .section__contact--container--form--input-row {
          margin: 1rem 2rem;
          display: flex;
          flex-direction: row;
          justify-content: center; }
          .section__contact--container--form--input-row--icon-box {
            background: #001c38;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            min-height: 2.5rem;
            min-width: 2.5rem; }
            .section__contact--container--form--input-row--icon-box i {
              color: #fff;
              font-size: 1.1rem;
              padding: 0.5rem; }
          .section__contact--container--form--input-row input {
            border: 1px solid #e1e1e1;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            transition: all 0.2s ease;
            min-height: 2.5rem;
            background: #eee;
            width: 100%;
            padding: 0.5rem; }
            .section__contact--container--form--input-row input:focus {
              outline: none;
              border: 1px solid #000b76; }
            .section__contact--container--form--input-row input:hover {
              border: 1px solid #000b76; }
          .section__contact--container--form--input-row textarea {
            border: 1px solid #eee;
            background: #eee;
            transition: all 0.2s ease;
            border-radius: 5px;
            padding: 0.5rem;
            width: 100%; }
            .section__contact--container--form--input-row textarea:focus {
              outline: none;
              border: 1px solid #000b76; }
            .section__contact--container--form--input-row textarea:hover {
              border: 1px solid #000b76; }
          .section__contact--container--form--input-row button {
            padding: 1rem 2rem;
            color: #fff;
            background: transparent;
            border: 3px solid #001c38;
            transition: all 0.2s ease;
            border-radius: 3px;
            width: 100%;
            text-transform: uppercase;
            color: #001c38;
            font-weight: 700;
            letter-spacing: 2px;
            transition: all 0.3s ease-in-out; }
            .section__contact--container--form--input-row button:hover {
              background: #002951;
              border: 3px solid #002951;
              cursor: pointer;
              color: #fff;
              font-weight: 500; }
            .section__contact--container--form--input-row button:active {
              background: #00509e;
              border: 3px solid #00509e;
              color: #fff;
              font-weight: 500; } }

@media screen and (max-width: 750px) {
  .section__contact--container h2 {
    font-size: 2rem; } }

@media screen and (max-width: 600px) {
  .section__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000110;
    margin: 2rem 0 0 0; }
    .section__contact--container {
      height: 100%;
      width: 100%;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section__contact--container hr {
        background: #000b76;
        border: 0;
        height: 2.5px;
        width: 15vw; }
      .section__contact--container h2 {
        color: #fff;
        margin: 1rem 0;
        font-size: 2rem;
        font-family: 'Raleway'; }
      .section__contact--container--form {
        margin: 2rem 0;
        background: #fff;
        box-shadow: 0 2px 2px #4d4d4d;
        min-height: 20rem;
        min-width: 80vw;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem; }
        .section__contact--container--form--input-row {
          margin: 1rem 0;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center; }
          .section__contact--container--form--input-row--icon-box {
            background: #001c38;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            min-height: 2.5rem;
            min-width: 2.5rem; }
            .section__contact--container--form--input-row--icon-box i {
              color: #fff;
              font-size: 1.1rem;
              padding: 0.5rem; }
          .section__contact--container--form--input-row input {
            border: 1px solid #e1e1e1;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            transition: all 0.2s ease;
            min-height: 2.5rem;
            background: #eee;
            width: 100%;
            padding: 0.5rem; }
            .section__contact--container--form--input-row input:focus {
              outline: none;
              border: 1px solid #000b76; }
            .section__contact--container--form--input-row input:hover {
              border: 1px solid #000b76; }
          .section__contact--container--form--input-row textarea {
            border: 1px solid #eee;
            background: #eee;
            transition: all 0.2s ease;
            border-radius: 5px;
            padding: 0.5rem;
            width: 100%; }
            .section__contact--container--form--input-row textarea:focus {
              outline: none;
              border: 1px solid #000b76; }
            .section__contact--container--form--input-row textarea:hover {
              border: 1px solid #000b76; }
          .section__contact--container--form--input-row button {
            padding: 1rem 2rem;
            color: #fff;
            background: transparent;
            border: 3px solid #001c38;
            transition: all 0.2s ease;
            border-radius: 3px;
            width: 100%;
            text-transform: uppercase;
            color: #001c38;
            font-weight: 700;
            letter-spacing: 2px;
            transition: all 0.3s ease-in-out; }
            .section__contact--container--form--input-row button:hover {
              background: #002951;
              border: 3px solid #002951;
              cursor: pointer;
              color: #fff;
              font-weight: 500; }
            .section__contact--container--form--input-row button:active {
              background: #00509e;
              border: 3px solid #00509e;
              color: #fff;
              font-weight: 500; } }

.section__about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem 0; }
  .section__about--grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    justify-items: start;
    align-content: center;
    padding: 3rem 1.5rem;
    max-width: 55vw;
    background: #f3f3f3;
    box-shadow: 0px 0px, -7px 10px 5px 4px #e9e9e9;
    border-radius: 5px; }
    .section__about--grid h2 {
      font-size: 5rem;
      color: #000b76;
      width: 100%;
      border-bottom: 1px solid #e9e9e9; }
    .section__about--grid p {
      color: #444;
      font-size: 2rem;
      font-weight: 500;
      line-height: 2; }

@media screen and (max-width: 1000px) {
  .section__about--grid {
    max-width: 70%;
    width: 70%; }
    .section__about--grid p {
      font-size: 1.5rem; } }

@media screen and (max-width: 750px) {
  .section__about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    justify-items: center;
    align-content: center;
    padding: 3rem 1.5rem;
    min-height: 30vh;
    width: 100%;
    max-width: 100%;
    margin: 2rem 0 0 0; }
    .section__about--grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
      max-width: 100%;
      width: 100%;
      min-height: 0;
      gap: 0.5rem; }
      .section__about--grid h2 {
        font-size: 3rem;
        color: #000b76;
        letter-spacing: 1px; }
      .section__about--grid p {
        font-size: 1.2rem;
        line-height: 2; } }

.modal__container {
  height: 100vh;
  width: 100vw;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: -99999;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0; }
  .modal__container--response {
    background: #f3f3f3;
    min-height: 30vh;
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 5px 5px #bbbbbb; }
    .modal__container--response p {
      text-align: center;
      color: #666;
      font-size: 2rem;
      margin: 1rem 0; }
    .modal__container--response button {
      padding: 1rem 2rem;
      color: #f3f3f3;
      background: #001c38;
      border: 3px solid #001c38;
      transition: all 0.2s ease;
      border-radius: 5px;
      width: 10rem;
      text-transform: uppercase;
      color: #f3f3f3;
      font-weight: 700;
      letter-spacing: 2px;
      transition: all 0.3s ease-in-out; }
      .modal__container--response button:hover {
        background: #002951;
        border: 3px solid #002951;
        cursor: pointer;
        color: #f3f3f3; }
      .modal__container--response button:active {
        background: #00509e;
        border: 3px solid #00509e; }

.show {
  display: flex;
  z-index: 99999;
  visibility: visible; }

.paragraph__mobile {
  color: #6f6f6f;
  margin: 1rem 0; }
  .paragraph__mobile span {
    color: #000d90;
    text-transform: uppercase; }

p {
  color: #6f6f6f; }

@keyframes bounce {
  0% {
    opacity: 0.55;
    transform: translateY(0vh); }
  25% {
    opacity: 0.55; }
  50% {
    opacity: 0.7;
    transform: translateY(-0.5vh); }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 0.55;
    transform: translateY(0vh); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInAndRotate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: rotate(5deg); } }

@keyframes fadeInAndRotateReverse {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: rotate(-5deg); } }

.load--fallback {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff; }
  .load--fallback img {
    max-height: 7rem;
    max-width: 7rem; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0;
  font-size: 80%;
  font-family: 'Raleway';
  overflow-x: hidden;
  background-color: #eee;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23000b76' fill-opacity='0.01' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-attachment: fixed; }

h1,
h2,
h3 {
  font-family: 'Oswald';
  font-weight: 300; }

@media screen and (max-width: 600px) {
  h2 {
    font-size: 3rem;
    letter-spacing: 1px; }
  p {
    font-family: 'Raleway';
    color: #222;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1px; } }
