@import url("https://fonts.googleapis.com/css?family=Oswald|Raleway|Muli&display=swap");
.nav__components {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  min-height: 5rem;
  max-height: 5rem;
  padding: 1rem;
  width: 100vw;
  position: absolute;
  box-shadow: 0 5px 5px #e1e1e1;
  transition: all 0.4s ease-in-out;
  z-index: 99999; }
  .nav__components .nav__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    flex: 2; }
    .nav__components .nav__logo p {
      color: #5000ca;
      font-size: 1.4rem;
      font-weight: 700; }
    .nav__components .nav__logo svg {
      margin-right: 1rem;
      width: 3rem;
      max-width: 3rem;
      overflow: visible; }
      .nav__components .nav__logo svg circle {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation: animlogo 2s linear forwards; }
      .nav__components .nav__logo svg path {
        stroke-dasharray: 0;
        animation: animlogo 2s linear forwards; }
  .nav__components--links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: flex-start;
    justify-items: start;
    gap: 1rem; }
    .nav__components--links a {
      color: #5000ca;
      font-size: 1.2rem;
      padding: 1rem;
      transition: all 0.4s ease-in-out;
      position: relative;
      text-decoration: none;
      font-weight: 700; }
      .nav__components--links a::after {
        content: '';
        width: 0px;
        height: 2px;
        display: block;
        visibility: hidden;
        transition: all 0.4s ease-in-out;
        position: absolute;
        top: 100%; }
      .nav__components--links a:hover {
        cursor: pointer; }
      .nav__components--links a:hover::after {
        visibility: visible;
        width: 100%;
        display: block;
        background: #5000ca; }
    .nav__components--links a:not(:first-child) {
      border-left: 1px solid #eee; }
    .nav__components--links .active::after {
      content: '';
      visibility: visible;
      width: 100%;
      display: block;
      background: #5000ca;
      transition: all 0.4s ease-in-out;
      position: absolute;
      top: 100%; }
    .nav__components--links--mobile {
      display: none;
      visibility: hidden; }
  .nav__components .mobile-menu {
    display: none; }

.fixed-nav {
  animation: fadenav 1s linear forwards;
  position: fixed;
  box-shadow: 0 2px 2px #eee;
  transition: all 0.4s ease-in-out; }

@media screen and (max-width: 700px) {
  .nav__components {
    position: fixed; }
    .nav__components .mobile-menu {
      position: absolute;
      top: 100%;
      left: 0;
      background: #f3f3f3;
      transition: all 0.5s ease-in-out; }
      .nav__components .mobile-menu a {
        font-size: 2rem;
        color: #5000ca;
        transition: all 0.2s ease-in-out;
        opacity: 1;
        margin: 1rem 0;
        font-weight: 700;
        text-decoration: none; }
    .nav__components .hide {
      visibility: hidden;
      max-height: 0vh;
      height: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      transition: all 0.5s ease-in-out; }
      .nav__components .hide a {
        opacity: 0; }
    .nav__components .show {
      visibility: visible;
      transition: all 0.5s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-height: 100vh;
      width: 100vw;
      height: 100vh; }
    .nav__components--links {
      flex: 1;
      display: none;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      .nav__components--links a {
        color: #5000ca;
        font-size: 1.2rem; }
      .nav__components--links--mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        visibility: visible;
        flex: 0.5; }
        .nav__components--links--mobile:hover {
          cursor: pointer; }
        .nav__components--links--mobile svg {
          overflow: visible;
          width: 3rem;
          max-width: 3rem; }
        .nav__components--links--mobile path {
          opacity: 1;
          transition: all 0.5s ease-in-out; }
    .nav__components .rotated path:nth-child(1) {
      transform-origin: 0% 0%;
      transform-box: fill-box;
      opacity: 0;
      transform: translate(100vw);
      stroke-dasharray: 1;
      stroke-dashoffset: 100; }
    .nav__components .rotated path:nth-child(2) {
      transform-origin: 35% 42%;
      transform: rotate(45deg); }
    .nav__components .rotated path:nth-child(3) {
      transform-origin: 20% 50%;
      transform: rotate(-45deg); } }

@keyframes animlogo {
  0% {
    stroke-dasharray: 100;
    stroke-dashoffset: 100; }
  80% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0; }
  99% {
    stroke-dasharray: 10;
    stroke-dashoffset: 10; }
  100% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0; } }

@keyframes fadenav {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media screen and (min-width: 751px) {
  .section__header {
    min-height: 100vh;
    background-color: #e6e6e6;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.28'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 0;
    box-shadow: 0 5px 5px #e1e1e1; }
    .section__header--logo {
      z-index: 1;
      margin: 2rem;
      max-width: 13rem;
      max-height: 15rem;
      align-self: center; }
      .section__header--logo img {
        height: 100%;
        width: 100%; }
    .section__header--title-and-desc {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 4rem;
      justify-items: start;
      align-content: flex-start;
      padding: 2rem;
      height: 100%;
      opacity: 0;
      position: relative;
      background: #fff;
      box-shadow: 0 4px 4px #f2f2f2; }
      .section__header--title-and-desc--back {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #fcfcfc;
        box-shadow: 0 4px 4px #dadada;
        padding: 2rem;
        z-index: -1; }
      .section__header--title-and-desc .separator {
        height: 3px;
        width: 15rem;
        background: #000b76;
        display: block; }
      .section__header--title-and-desc--text-container {
        z-index: 2; }
        .section__header--title-and-desc--text-container h1 {
          font-size: 6rem;
          color: #000b76;
          font-weight: 700;
          margin: 1rem 0; }
        .section__header--title-and-desc--text-container--about h2 {
          font-size: 3rem;
          color: #5000ca; }
        .section__header--title-and-desc--text-container--about p {
          transform: rotate(0);
          width: 50vw;
          color: #666;
          font-size: 2rem;
          font-weight: 300;
          z-index: 2; }
        .section__header--title-and-desc--text-container--about span {
          z-index: 2;
          color: #5000ca;
          font-weight: 700; }
      .section__header--title-and-desc--icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 1rem; }
        .section__header--title-and-desc--icons a {
          text-decoration: none;
          margin: 0 0.2rem;
          transition: all 0.2s ease; }
          .section__header--title-and-desc--icons a:hover {
            box-shadow: 0px 5px 30% #000110; }
          .section__header--title-and-desc--icons a i {
            font-size: 4rem;
            color: #5000ca;
            transition: all 0.3s ease; }
            .section__header--title-and-desc--icons a i:hover {
              cursor: pointer;
              color: #4600b1; } }

@media screen and (max-width: 1000px) {
  .section__header {
    min-height: 100vh; }
    .section__header h1 {
      font-size: 4.5rem; }
    .section__header svg {
      top: 98%;
      position: absolute;
      width: 100vw; }
    .section__header--icons a i {
      font-size: 2rem; }
    .section__header--logo {
      max-width: 11rem; } }

@media screen and (max-width: 750px) {
  .section__header {
    min-height: 100vh; }
    .section__header--title-and-desc {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 2rem;
      justify-items: start;
      align-content: center;
      padding: 1rem;
      margin: 5rem 0;
      height: 100vh;
      opacity: 0;
      position: relative;
      background: #f3f3f3;
      box-shadow: 0 4px 4px #e6e6e6; }
      .section__header--title-and-desc--back {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #f0f0f0;
        box-shadow: 0 4px 4px #dadada;
        padding: 2rem;
        z-index: -1; }
      .section__header--title-and-desc .separator {
        height: 3px;
        width: 5rem;
        background: #000b76;
        display: block; }
      .section__header--title-and-desc--text-container {
        z-index: 2; }
        .section__header--title-and-desc--text-container h1 {
          font-size: 3rem;
          color: #000b76;
          font-weight: 700;
          margin: 1rem 0; }
        .section__header--title-and-desc--text-container--about h2 {
          font-size: 1.5rem;
          color: #5000ca; }
        .section__header--title-and-desc--text-container--about p {
          color: #333;
          font-size: 2rem;
          font-weight: 500;
          z-index: 2; }
        .section__header--title-and-desc--text-container--about span {
          z-index: 2;
          color: #5000ca;
          font-weight: 700; }
      .section__header--title-and-desc--icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 1rem; }
        .section__header--title-and-desc--icons a {
          text-decoration: none;
          margin: 0 0.2rem;
          transition: all 0.2s ease; }
          .section__header--title-and-desc--icons a:hover {
            box-shadow: 0px 5px 30% #000110; }
          .section__header--title-and-desc--icons a i {
            font-size: 2rem;
            color: #5000ca;
            transition: all 0.3s ease; }
            .section__header--title-and-desc--icons a i:hover {
              cursor: pointer;
              color: #4600b1; } }

@media screen and (min-width: 601px) {
  .section__projects {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 5px 5px #e9e9e9; }
    .section__projects--buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 2rem 1rem;
      width: 100%; }
      .section__projects--buttons h2 {
        color: #000b76;
        font-size: 5rem; }
    .section__projects--container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      gap: 2rem;
      justify-items: center;
      max-width: 80vw; }
      .section__projects--container--item {
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: space-around;
        max-height: 35rem; }
        .section__projects--container--item--image-container {
          width: 100%;
          margin: 0rem 0;
          box-shadow: 0 5px 10px #b3b3b3;
          position: relative;
          display: grid;
          min-height: 40vh;
          max-height: 35rem; }
          .section__projects--container--item--image-container--image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 0.5s ease-in-out;
            filter: brightness(0.6); }
            .section__projects--container--item--image-container--image:hover {
              filter: brightness(1); }
            .section__projects--container--item--image-container--image img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              max-height: 35rem; }
        .section__projects--container--item--info {
          margin: 0rem;
          position: absolute;
          display: grid;
          align-self: end;
          width: 100%; }
          .section__projects--container--item--info--description {
            padding: 1rem;
            width: 100%;
            background: rgba(0, 0, 0, 0.92);
            max-height: 15rem;
            align-self: end; }
            .section__projects--container--item--info--description--title {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              margin: 0.5rem; }
              .section__projects--container--item--info--description--title--separator {
                display: block;
                height: 2px;
                width: 5rem;
                background: #5000ca;
                margin: 0.5rem 0; }
              .section__projects--container--item--info--description--title h2 {
                text-transform: uppercase;
                color: #f3f3f3;
                font-weight: 300;
                font-size: 1.8rem; }
            .section__projects--container--item--info--description p {
              margin: 0.5rem;
              color: #f3f3f3;
              font-size: 1.1rem; }
            .section__projects--container--item--info--description--links {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              margin: 0.5rem; }
              .section__projects--container--item--info--description--links a {
                font-size: 2rem;
                color: #5000ca; }
                .section__projects--container--item--info--description--links a:hover {
                  color: #6400fd;
                  cursor: pointer; } }

@media screen and (max-width: 1100px) {
  .section__projects--container {
    max-width: 90vw; }
    .section__projects--container--item {
      display: flex;
      flex-direction: column;
      margin: 0;
      justify-content: space-around; }
      .section__projects--container--item--image-container {
        width: 100%;
        margin: 0rem 0;
        box-shadow: 0 5px 10px #b3b3b3;
        position: relative;
        display: grid;
        min-height: 20rem; }
        .section__projects--container--item--image-container--image img {
          height: 100%;
          width: 100%;
          object-fit: cover; }
      .section__projects--container--item--info--description--links a {
        font-size: 2rem; } }

@media screen and (max-width: 900px) {
  .section__projects {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .section__projects--buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 2rem 1rem; }
    .section__projects--container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
      max-width: 100vw; }
      .section__projects--container--item {
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: space-around; }
        .section__projects--container--item--image-container {
          width: 100%;
          min-height: 30vh;
          margin: 0rem 0;
          box-shadow: 0 5px 10px #b3b3b3;
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: center; }
          .section__projects--container--item--image-container--image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 0.3s ease;
            filter: brightness(0.6); }
            .section__projects--container--item--image-container--image:hover {
              filter: brightness(1); }
            .section__projects--container--item--image-container--image img {
              height: 100%;
              width: 100%;
              object-fit: cover; }
        .section__projects--container--item--info {
          margin: 0rem;
          position: absolute;
          bottom: 0;
          left: 0;
          display: grid;
          grid-template-rows: 1fr;
          width: 100%; }
          .section__projects--container--item--info--description {
            padding: 0.5rem;
            width: 100%;
            background: rgba(0, 0, 0, 0.92);
            align-self: end; }
            .section__projects--container--item--info--description--title {
              display: flex;
              flex-direction: column;
              justify-content: flex-start; }
              .section__projects--container--item--info--description--title--separator {
                display: block;
                height: 2px;
                width: 5rem;
                background: #5000ca;
                margin: 0.5rem 0; }
              .section__projects--container--item--info--description--title h2 {
                text-transform: uppercase;
                color: #f3f3f3;
                font-weight: 300;
                font-size: 1.5rem; }
            .section__projects--container--item--info--description p {
              color: #f3f3f3;
              font-size: 0.9rem; }
            .section__projects--container--item--info--description--links {
              display: flex;
              flex-direction: row;
              justify-content: flex-start; }
              .section__projects--container--item--info--description--links a {
                font-size: 1.7rem;
                color: #5000ca;
                margin: 0.5rem; }
                .section__projects--container--item--info--description--links a:hover {
                  color: #6400fd;
                  cursor: pointer; } }

@media screen and (max-width: 850px) {
  .section__projects {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .section__projects--buttons h2 {
      color: #000b76;
      font-size: 3rem; }
    .section__projects--container {
      max-width: 100vw; }
      .section__projects--container--item--image-container {
        width: 100%;
        height: 100%; }
        .section__projects--container--item--image-container--image {
          filter: brightness(0.6); }
          .section__projects--container--item--image-container--image:hover {
            filter: brightness(1); }
      .section__projects--container--item--info--description--title h2 {
        font-size: 1.6rem; }
      .section__projects--container--item--info--description--links a {
        margin: 0.2rem; } }

@media screen and (min-width: 601px) {
  .section__skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem 0; }
    .section__skills--heading {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 2rem; }
      .section__skills--heading h2 {
        color: #000b76;
        font-size: 5rem; }
    .section__skills--container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
      min-height: 30rem;
      width: 70vw;
      background: #fff;
      box-shadow: 0 5px 5px #e9e9e9;
      padding: 1rem; }
      .section__skills--container--skill-row--icon-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 3px #e9e9e9;
        padding: 1rem;
        margin: 0 0.5rem; }
        .section__skills--container--skill-row--icon-block svg {
          font-size: 6rem;
          color: #4600b1; }
        .section__skills--container--skill-row--icon-block h3 {
          color: #000b76;
          font-size: 2.5rem; } }

@media screen and (max-width: 750px) {
  .section__skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 20vh; }
    .section__skills--heading {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .section__skills--heading h2 {
        color: #000b76;
        font-size: 3rem; }
    .section__skills--container {
      padding: 2rem 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background: #f3f3f3;
      box-shadow: 0 5px 5px #e9e9e9;
      gap: 1rem;
      min-height: 30rem;
      width: 90vw; }
      .section__skills--container--skill-row--icon-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 3px #e9e9e9;
        margin: 0 0.5rem; }
        .section__skills--container--skill-row--icon-block svg {
          font-size: 3.5rem;
          color: #4600b1; }
        .section__skills--container--skill-row--icon-block h3 {
          color: #000b76;
          font-size: 1.5rem; } }

@media screen and (min-width: 601px) {
  .section__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000110;
    min-height: 100vh; }
    .section__contact--container {
      height: 100%;
      width: 100%;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section__contact--container hr {
        background: #000b76;
        border: 0;
        height: 2.5px;
        width: 15vw; }
      .section__contact--container h2 {
        color: #fff;
        font-family: "Raleway";
        margin: 1rem 0;
        font-size: 4rem; }
      .section__contact--container--form {
        margin: 2rem 0;
        background: #fff;
        box-shadow: 0 2px 2px #4d4d4d;
        min-height: 20rem;
        min-width: 70vw;
        max-width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem; }
        .section__contact--container--form--column {
          display: flex;
          flex-direction: column;
          width: 100%; }
          .section__contact--container--form--column label {
            font-size: 2vw;
            color: #001c38; }
          .section__contact--container--form--column--input-row {
            margin: 1rem 2rem;
            display: flex;
            flex-direction: row;
            justify-content: center; }
            .section__contact--container--form--column--input-row--icon-box {
              background: #001c38;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              min-height: 2.5rem;
              min-width: 2.5rem; }
              .section__contact--container--form--column--input-row--icon-box i {
                color: #fff;
                font-size: 1.5rem;
                padding: 1rem; }
            .section__contact--container--form--column--input-row input {
              border: 1px solid #e1e1e1;
              transition: all 0.2s ease;
              min-height: 2.5rem;
              background: #eee;
              width: 100%;
              padding: 1.6rem;
              font-size: 16px; }
              .section__contact--container--form--column--input-row input:focus {
                outline: none;
                border: 1px solid #000b76; }
              .section__contact--container--form--column--input-row input:hover {
                border: 1px solid #000b76; }
            .section__contact--container--form--column--input-row textarea {
              border: 1px solid #eee;
              background: #eee;
              transition: all 0.2s ease;
              padding: 1rem;
              width: 100%;
              font-size: 16px; }
              .section__contact--container--form--column--input-row textarea:focus {
                outline: none;
                border: 1px solid #000b76; }
              .section__contact--container--form--column--input-row textarea:hover {
                border: 1px solid #000b76; }
            .section__contact--container--form--column--input-row button {
              padding: 1rem 2rem;
              color: #fff;
              background: transparent;
              border: 3px solid #001c38;
              transition: all 0.2s ease;
              width: 100%;
              text-transform: uppercase;
              color: #001c38;
              font-weight: 700;
              letter-spacing: 2px;
              transition: all 0.3s ease-in-out; }
              .section__contact--container--form--column--input-row button:hover {
                background: #002951;
                border: 3px solid #002951;
                cursor: pointer;
                color: #fff;
                font-weight: 500; }
              .section__contact--container--form--column--input-row button:active {
                background: #00509e;
                border: 3px solid #00509e;
                color: #fff;
                font-weight: 500; } }

@media screen and (max-width: 750px) {
  .section__contact--container h2 {
    font-size: 2rem; } }

@media screen and (max-width: 600px) {
  .section__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000110;
    margin: 2rem 0 0 0; }
    .section__contact--container {
      height: 100%;
      width: 100%;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section__contact--container hr {
        background: #000b76;
        border: 0;
        height: 2.5px;
        width: 15vw; }
      .section__contact--container h2 {
        color: #fff;
        margin: 1rem 0;
        font-size: 2rem;
        font-family: "Raleway"; }
      .section__contact--container--form {
        margin: 2rem 0;
        background: #fff;
        box-shadow: 0 2px 2px #4d4d4d;
        min-height: 20rem;
        min-width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem; }
        .section__contact--container--form--column label {
          font-size: 5vw; }
        .section__contact--container--form--column--input-row {
          margin: 1rem 0;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center; }
          .section__contact--container--form--column--input-row--icon-box {
            background: #001c38;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            min-height: 2.5rem;
            min-width: 2.5rem; }
            .section__contact--container--form--column--input-row--icon-box i {
              color: #fff;
              font-size: 1.1rem;
              padding: 1rem; }
          .section__contact--container--form--column--input-row input {
            border: 1px solid #e1e1e1;
            transition: all 0.2s ease;
            min-height: 2.5rem;
            background: #eee;
            width: 100%;
            padding: 1rem;
            font-size: 16px; }
            .section__contact--container--form--column--input-row input:focus {
              outline: none;
              border: 1px solid #000b76; }
            .section__contact--container--form--column--input-row input:hover {
              border: 1px solid #000b76; }
          .section__contact--container--form--column--input-row textarea {
            border: 1px solid #eee;
            background: #eee;
            transition: all 0.2s ease;
            padding: 0.5rem;
            width: 100%;
            font-size: 16px; }
            .section__contact--container--form--column--input-row textarea:focus {
              outline: none;
              border: 1px solid #000b76; }
            .section__contact--container--form--column--input-row textarea:hover {
              border: 1px solid #000b76; }
          .section__contact--container--form--column--input-row button {
            padding: 1rem 2rem;
            color: #fff;
            background: transparent;
            border: 3px solid #001c38;
            transition: all 0.2s ease;
            width: 100%;
            text-transform: uppercase;
            color: #001c38;
            font-weight: 700;
            letter-spacing: 2px;
            transition: all 0.3s ease-in-out; }
            .section__contact--container--form--column--input-row button:hover {
              background: #002951;
              border: 3px solid #002951;
              cursor: pointer;
              color: #fff;
              font-weight: 500; }
            .section__contact--container--form--column--input-row button:active {
              background: #00509e;
              border: 3px solid #00509e;
              color: #fff;
              font-weight: 500; } }

.modal__container {
  height: 100vh;
  width: 100vw;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: -99999;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0; }
  .modal__container--response {
    background: #f3f3f3;
    min-height: 30vh;
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 5px 5px #bbbbbb; }
    .modal__container--response p {
      text-align: center;
      color: #666;
      font-size: 2rem;
      margin: 1rem 0; }
    .modal__container--response button {
      padding: 1rem 2rem;
      color: #f3f3f3;
      background: #001c38;
      border: 3px solid #001c38;
      transition: all 0.2s ease;
      border-radius: 5px;
      width: 10rem;
      text-transform: uppercase;
      color: #f3f3f3;
      font-weight: 700;
      letter-spacing: 2px;
      transition: all 0.3s ease-in-out; }
      .modal__container--response button:hover {
        background: #002951;
        border: 3px solid #002951;
        cursor: pointer;
        color: #f3f3f3; }
      .modal__container--response button:active {
        background: #00509e;
        border: 3px solid #00509e; }

.show {
  display: flex;
  z-index: 99999;
  visibility: visible; }

.paragraph__mobile {
  color: #6f6f6f;
  margin: 1rem 0; }
  .paragraph__mobile span {
    color: #000d90;
    text-transform: uppercase; }

p {
  color: #6f6f6f; }

@keyframes bounce {
  0% {
    opacity: 0.55;
    transform: translateY(0vh); }
  25% {
    opacity: 0.55; }
  50% {
    opacity: 0.7;
    transform: translateY(-0.5vh); }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 0.55;
    transform: translateY(0vh); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInAndRotate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: rotate(5deg); } }

@keyframes fadeInAndRotateReverse {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: rotate(-5deg); } }

.load--fallback {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee; }

.svg-loader {
  overflow: visible; }
  .svg-loader circle {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    animation: animlogo .5s linear forwards; }
  .svg-loader path {
    stroke-dasharray: 0;
    animation: animlogo .5s linear forwards; }

@keyframes animlogo {
  0% {
    stroke-dasharray: 100;
    stroke-dashoffset: 100; }
  80% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0; }
  99% {
    stroke-dasharray: 10;
    stroke-dashoffset: 10; }
  100% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0;
  font-size: 80%;
  font-family: 'Raleway';
  overflow-x: hidden;
  background-color: #e6e6e6;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.28'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed; }

h1 {
  font-family: 'Muli';
  font-weight: 700; }

h2,
h3 {
  font-family: 'Muli', sans-serif, serif;
  font-weight: 700; }

@media screen and (max-width: 600px) {
  h2 {
    font-size: 3rem;
    letter-spacing: 1px; }
  p {
    font-family: 'Raleway';
    color: #222;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 1px; } }
