@import url("https://fonts.googleapis.com/css?family=Oswald|Raleway|Muli&display=swap");
.paragraph__mobile {
  color: #6f6f6f;
  margin: 1rem 0; }
  .paragraph__mobile span {
    color: #000d90;
    text-transform: uppercase; }

p {
  color: #6f6f6f; }

@keyframes bounce {
  0% {
    opacity: 0.55;
    transform: translateY(0vh); }
  25% {
    opacity: 0.55; }
  50% {
    opacity: 0.7;
    transform: translateY(-0.5vh); }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 0.55;
    transform: translateY(0vh); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInAndRotate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: rotate(5deg); } }

@keyframes fadeInAndRotateReverse {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: rotate(-5deg); } }

.load--fallback {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee; }

.svg-loader {
  overflow: visible; }
  .svg-loader circle {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    animation: animlogo .5s linear forwards; }
  .svg-loader path {
    stroke-dasharray: 0;
    animation: animlogo .5s linear forwards; }

@keyframes animlogo {
  0% {
    stroke-dasharray: 100;
    stroke-dashoffset: 100; }
  80% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0; }
  99% {
    stroke-dasharray: 10;
    stroke-dashoffset: 10; }
  100% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0;
  font-size: 80%;
  font-family: 'Raleway';
  overflow-x: hidden;
  background-color: #e6e6e6;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.28'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed; }

h1 {
  font-family: 'Muli';
  font-weight: 700; }

h2,
h3 {
  font-family: 'Muli', sans-serif, serif;
  font-weight: 700; }

@media screen and (max-width: 600px) {
  h2 {
    font-size: 3rem;
    letter-spacing: 1px; }
  p {
    font-family: 'Raleway';
    color: #222;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 1px; } }
